body {
  margin: 200px; background: #fcc;
}
img {
  width: 200px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scrollable, .scrollable * {height: 200px;}
.scrollable {
  position: relative; width: 860px;
}
.items {
  width: 860px; overflow: hidden;
}
.__scrollable {position:relative; overflow:hidden; visibility:visible; width: 20000em;}

.item {float: left; margin-right: 20px;}

a.prev, a.next {
  opacity: 0.5; position: absolute;
  top: 50%; margin-top: -50px;
}

a.prev, a.next, a.prev:before, a.prev:after, a.next:before, a.next:after {
  display: block;
  width: 0; height: 0;
  border-top:50px solid transparent;
  border-bottom:50px solid transparent;
}

a.prev {
  border-right: 15px solid #fff; left: -50px;
} 
a.next {
  border-left: 15px solid #fff; right: -50px;
}

a.prev:before, a.prev:after, a.next:before, a.next:after {
  width: 0; height: 0;
  content: ""; display: block;
  position: absolute;
}

a.prev:before, a.prev:after {
  left: 15px;
  border-left:15px solid #fff;
}

a.next:before, a.next:after {
  right: 15px;
  border-right:15px solid #fff;
}

a.prev:before {
  border-bottom: none;
  top: 0; 
}
a.prev:after {
  border-top: none;
  top: -50px;
}

a.next:before {
  border-bottom: none;
  top: 0; 
}
a.next:after {
  border-top: none;
  top: -50px;
}